body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
    color: #333;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #8B0000;
    padding: 15px;
}
.logo img {
    width: 140px;
}
nav ul {
    list-style: none;
    display: flex;
}
nav ul li {
    margin: 0 15px;
}
nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}
.carousel {
    position: relative;
    width: 60%;
    max-width: 1200px;
    margin: 0 auto;
    overflow: hidden;
}
.carousel-container {
    display: flex;
    transition: transform 0.5s ease-in-out;
}
.slide {
    width: 100%;
    display: none;
}
.slide.active {
    display: block;
}
.prev, .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
}
.prev { left: 10px; }
.next { right: 10px; }
.content {
    padding: 50px;
    text-align: center;
}
footer {
    background-color: #222;
    color: white;
    text-align: center;
    padding: 20px;
}

.img-nosotros,
.img-servicios {
    width: 600px;
    max-width: 600px;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgb(red, green, blue);
    margin-top: 20px;
}

